<!Doctype html>
<head>
	<title>survey2</title>
</head>
  <body>
	<form action="/survey" method="post">
    <li>
      <input type="checkbox" name="one" value="15">15
      <input type="checkbox" name="two" value="26">26
      <input type="checkbox" name="thr" value="34">33
    </li>
    <li>
      <input type="checkbox" name="fou" value="42">42
      <input type="checkbox" name="fiv" value="53">53
      <input type="checkbox" name="six" value="61">61
    </li>
    <input type="submit"/>
</form>
  </body>
</html>

