<!Doctype html>
<head>
</head>
  <body>
	<form action="/survey" method="post">
    <li>
      <input type="checkbox" name="one" value="14">14
      <input type="checkbox" name="two" value="25">25
      <input type="checkbox" name="thr" value="36">36
    </li>
    <li>
      <input type="checkbox" name="fou" value="41">41
      <input type="checkbox" name="fiv" value="52">52
      <input type="checkbox" name="six" value="63">63
    </li>
    <input type="submit"/>
</form>
<button type="button" onclick="location.href='/survey/2'">next</button>

  </body>
</html>

